*{
    margin: 0px;
    padding: 0px;
}
ul,li{
    list-style-type: none;
}
a, a:hover{
    text-decoration: none;
    color: none;
}
.top_bar{
    height: 35px;
    background-color: black;
}


/* nav start  */
.icon{
    margin-top: 12px;
    margin-right: -20px;
}
.custom_icon{
  
  color: #fff;
}
.custom_border{
  border-bottom: 2px solid #ddd;
}

#navbarScroll ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  #navbarScroll li {
    float: right;
  }
  
  #navbarScroll li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  /* banner part start */
  .banner-left-text li {
    padding: 25px 20px;
    cursor: pointer;
    background-color:#dddddd;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
  }
  .banner-left-text li:hover {
    
    background-color:red;
    transition: all linear 0.5s;

    
  }
  .banner-left-text li a{
    color: black;
  }
  .banner-right-text a{
    color: black;
  }
  /* banner part end */
  /* news part css */
  .news-part-left h6{
    border-bottom: 2px solid #000;
    width: 24rem;
    padding: 10px;
  }
  .news-part-left .card{
    padding: 20px;
    background-color: #dddddd;
    border-radius: 0px;
  }
  .news-part-right .title{
    display: flex;
    justify-content: space-between;
  }
  .news-part .card{
    margin-bottom: 10px;
    border:1px solid #fff
  }
  .news-part .card:hover img{
    border: 2px solid red;
   
  }
  .news-part .card:hover h6{
    color:red;
  }
  .news-part .card:hover  .custom_border{
    border-bottom: 2px solid #000;
  }
  .news-part .card:hover h5{
    color: red;
  }
 
 
  /* news video part  start*/
   .news_video{
    background-color:#3b3f42;
    padding: 20px;
   }
  /* news video part  end*/
  .news_video .title{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
  }
  .news_video .title h5,h4{
    color: #fff;
  }
  .video iframe{
    width: 100%;
  }
 
  /* business part start  */
  .business .title h5{
    color:#000;
  }
  .business .title{
    display: flex;
    justify-content: space-between;
  }
  .weather{
    background-image: url(../image/image-meteo.jpg);
    background-size: cover;
     background-repeat: no-repeat;
    width: 90%;

  }
  .weather_details{
    padding: 80px 30px;
  }
  .business_part .card{
    margin-bottom: 10px;
    border:1px solid #fff
  }
  .business_part .card:hover img{
    border: 2px solid red;
   
  }
  .business_part .card:hover h6{
    color:red;
  }
  .business_part .card:hover  .custom_border{
    border-bottom: 2px solid #000;
  }
  .business_part .card:hover h5{
    color: red;
  }
  .business_part .card:hover h6{
    color: red;
  }

  
   /* ATTACK PART START */
   .attactk .title{
    display: flex;
    justify-content: space-between;
   }
   .attactk .card{
    border:1px solid #fff
   }
   .attactk .card:hover h6{
    color:red;
  }
  .attactk .card:hover  .custom_border{
    border-bottom: 2px solid #000;
  }
  .attactk .card:hover h5{
    color: red;
  }
  .attactk .card:hover h6{
    color: red;
  }
  .attactk .card:hover img{
    border: 2px solid red;
   
  }
   /* ATTACK PART END */
   /* HEALTH PART START  */

   /* HEALTH PART END  */
   /* opinion start  */
   .opinion .card{
    border: 1px solid #fff;
   }
   /* opinion end */
   /* social part  start */
      .social{
        background-color: #3b3f42;
        padding: 30px;
      }
      .social h2{
        color: #fff;
        border-bottom: 2px solid #fff;
        padding: 10px;
      }
      .social_icon{
        margin-top: 5px;
        font-size: 36px;
        height: 25px;
        width: 25px;
        background-color: transparent;
        border-radius: 50%;
        color: #ddd;
        border: 1px solid #ddd;
        padding: 10px;
      }
      .social_icon:hover{
        background-color: #fff;
        transition: .5s;
        color: #000;
      }
      .social a{
        color: #fff;
        font-size: 20px;
      }
      .social li{
        float: right;
        margin-left: 80px;
      }
   /* social part  end */
   /* footer part start  */
      .footer{
        background-color: #3b3f42;
        padding: 40px 10px ;
      }
      .footer_social li{
        float: left;
        margin-left: 10px;
      }
      .footer_menu h6{
        color: #fff;
      }
      .footer_menu li a{
        color: #dddddd;
        margin-right: 120px;
      }
      .footer_search p{
        color: #fff;
      }
      .footer_search button{
        background-color: red;
        color: #fff;
        border:none;
        padding: 0px 5px;
      }
      .footer_details{
        margin-top: 10px;
      }
      .footer_details span, p{
        color: #fff;
      }
      

   /* footer part send  */
